<div>
    <div class="card">
        <div class="card-body">
            <form>
                <h4 class="card-title text-center" style="padding-bottom: 1%;">
                    <!-- <div class="float-left pt-2" placement="top" ngbTooltip="Regresar al carrito"
                        style="font-size: 20px;">
                        <a routerLink='/order'><i class="fas fa-arrow-left"></i></a>
                    </div> -->
                    Checkout
                </h4>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Ingrese su nombre">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="control-label">Apellido</label>
                            <input type="text" class="form-control" placeholder="Ingrese su apellido">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">NIT</label>
                            <input type="text" class="form-control" placeholder="Ingrese su nit">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">DPI</label>
                            <input type="text" class="form-control" placeholder="Ingrese su dpi">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">Telefono</label>
                            <input type="text" class="form-control" placeholder="Ingrese su telefono">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input type="text" class="form-control" placeholder="Ingrese su direccion">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Correo</label>
                        <input type="text" class="form-control" placeholder="Ingrese su correo" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Fecha del Pedido</label>
                        <input type="text" class="form-control" placeholder="Ingrese una fecha" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Lugar de Envio</label>
                        <select class="form-control">
                            <option value="1" selected>Ciudad</option>
                            <option value="2">Interior</option>
                        </select>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="direccion2id" class="control-label">Correo</label>
                    <input type="text" class="form-control" id="direccion2id" name="direccion2"
                        placeholder="Apartmento, edificio, piso, etc.">
                </div>

                <div class="form-group">
                    <label for="depaid" class="control-label">Departamento</label>
                    <select class="form-control" id="depaid">
                        <option value="1" selected>Ciudad</option>
                        <option value="2">Interior</option>
                    </select>
                </div> -->

                <!-- <div class="form-group">
                    <label for="depaid" class="control-label">Departamento</label>
                    <select class="form-control" id="depaid">
                        <option value="">Alta Verapaz</option>
                        <option value="">Baja Verapaz</option>
                        <option value="">Chimaltenango</option>
                        <option value="">Chiquimula</option>
                        <option value="">El Progreso</option>
                        <option value="">Escuintla</option>
                        <option value="">Guatemala</option>
                        <option value="">Huehuetenango</option>
                        <option value="">Izabal</option>
                        <option value="">Jalapa</option>
                        <option value="">Jutiapa</option>
                        <option value="">Petén</option>
                        <option value="">Quetzaltenango</option>
                        <option value="">Quiché</option>
                        <option value="">Retalhuleu</option>
                        <option value="">Sacatepéquez</option>
                        <option value="">San Marcos</option>
                        <option value="">Santa Rosa</option>
                        <option value="">Sololá</option>
                        <option value="">Suchitepéquez</option>
                        <option value="">Totonicapán</option>
                        <option value="">Zacapa</option>
                    </select>
                </div> -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        <span>Confirmar Pedido</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- PEDAZO PARA CODIGO PROMOCIONAL -->
<!-- <th _ngcontent-eyj-c107="" scope="col">CODIGO PROMOCIONAL: </th>
<p><input type="text" name="precio" /></p> -->