<div>
    <div class="card">
        <div class="card-body">
            <form novalidate (ngSubmit)="onSubmit(modalComprobador)" [formGroup]="client">
                <!-- <form novalidate [formGroup]="client"> -->
                <h4 class="card-title text-center" style="padding-bottom: 1%;">
                    <!-- <div class="float-left pt-2" placement="top" ngbTooltip="Regresar al carrito"
                        style="font-size: 20px;">
                        <a routerLink='/order'><i class="fas fa-arrow-left"></i></a>
                    </div> -->
                    Confirmacion del Pedido
                </h4>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Ingrese su nombre"
                                formControlName="nombre" maxlength="40" (focusin)="isNombre = true"
                                (focusout)="isNombre = false">
                            <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                                *ngIf="isNombre">
                                Max: 40 caracteres
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nombre').hasError('required') && client.get('nombre').touched">
                                Nombre requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nombre').hasError('pattern') && client.get('nombre').touched">
                                Nombre invalido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nombre').hasError('maxlength')">
                                Tamaño de caracteres invalido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="control-label">Apellido</label>
                            <input type="text" class="form-control" placeholder="Ingrese su apellido"
                                formControlName="apellido" maxlength="40" (focusin)="isApellido = true"
                                (focusout)="isApellido = false">
                            <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                                *ngIf="isApellido">
                                Max: 40 caracteres
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('apellido').hasError('required') && client.get('apellido').touched">
                                Apellido requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('apellido').hasError('pattern') && client.get('apellido').touched">
                                Apellido invalido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('apellido').hasError('maxlength')">
                                Tamaño de caracteres invalido
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">NIT</label>
                            <input type="text" class="form-control" placeholder="Ingrese su nit" formControlName="nit"
                                maxlength="11" (focusin)="isNit = true" (focusout)="isNit = false">
                            <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                                *ngIf="isNit">
                                Max: 11 caracteres
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nit').hasError('required') && client.get('nit').touched">
                                Nit requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;" *ngIf="client.errors?.nitInvalido">
                                Nit invalido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nit').hasError('maxlength')">
                                Tamaño de caracteres invalido
                            </span>
                            <!-- <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('nit').errors.maxlength && client.get('nit').touched">
                                Nit invalido
                            </span> -->
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">DPI</label>
                            <input type="text" class="form-control" placeholder="Ingrese su dpi" formControlName="dpi"
                                maxlength="13" (focusin)="isDpi = true" (focusout)="isDpi = false">
                            <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                                *ngIf="isDpi">
                                Max: 13 caracteres
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('dpi').hasError('required') && client.get('dpi').touched">
                                Dpi requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('dpi').hasError('pattern')">
                                Dpi invalido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('dpi').hasError('maxlength')">
                                Tamaño de caracteres invalido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="control-label">Telefono</label>
                            <input type="text" class="form-control" placeholder="Ingrese su telefono"
                                formControlName="telefono" maxlength="9" (focusin)="isTel = true"
                                (focusout)="isTel = false">
                            <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                                *ngIf="isTel">
                                Max: 9 caracteres
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('telefono').hasError('required') && client.get('telefono').touched">
                                Telefono requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('telefono').hasError('pattern') && client.get('telefono').touched">
                                Telefono invalido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="client.get('telefono').hasError('maxlength')">
                                Tamaño de caracteres invalido
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input type="text" class="form-control" placeholder="Ingrese su direccion"
                        formControlName="direccion" maxlength="100" (focusin)="isDireccion = true"
                        (focusout)="isDireccion = false">
                    <span class="bg-primary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                        *ngIf="isDireccion">
                        Max: 100 caracteres
                    </span>
                    <span class="text-danger" style="font-size: 10px;"
                        *ngIf="client.get('direccion').hasError('required') && client.get('direccion').touched">
                        Direccion requerido
                    </span>
                    <span class="text-danger" style="font-size: 10px;"
                        *ngIf="client.get('direccion').hasError('maxlength')">
                        Tamaño de caracteres invalido
                    </span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Correo</label>
                        <input type="text" class="form-control" placeholder="Ingrese su correo" formControlName="correo"
                            readonly>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="client.get('correo').hasError('required') && client.get('correo').touched">
                            Correo requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="client.get('correo').hasError('email') && client.get('correo').touched">
                            Correo invalido
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Fecha del Pedido</label>
                        <input type="text" class="form-control" placeholder="Ingrese una fecha" formControlName="fecha"
                            readonly>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="client.get('fecha').hasError('required') && client.get('fecha').touched">
                            Fecha requerida
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Lugar de Envio</label>
                        <!-- <select class="form-control" formControlName="envio">
                            <option value="1">Ciudad</option>
                            <option value="2">Interior</option>
                        </select> -->
                        <select class="form-control" formControlName="envio"
                            (change)="onChangeTipoEnvio($event.target.value)">
                            <option [value]="tipoEnvio.idtipo_pedido" *ngFor="let tipoEnvio of listaEnvios">
                                {{tipoEnvio.tipo}}
                            </option>
                        </select>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="client.get('envio').hasError('required') && client.get('envio').touched">
                            Lugar requerido
                        </span>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="direccion2id" class="control-label">Correo</label>
                    <input type="text" class="form-control" id="direccion2id" name="direccion2"
                        placeholder="Apartmento, edificio, piso, etc.">
                </div>

                <div class="form-group">
                    <label for="depaid" class="control-label">Departamento</label>
                    <select class="form-control" id="depaid">
                        <option value="1" selected>Ciudad</option>
                        <option value="2">Interior</option>
                    </select>
                </div> -->

                <!-- <div class="form-group">
                    <label for="depaid" class="control-label">Departamento</label>
                    <select class="form-control" id="depaid">
                        <option value="">Alta Verapaz</option>
                        <option value="">Baja Verapaz</option>
                        <option value="">Chimaltenango</option>
                        <option value="">Chiquimula</option>
                        <option value="">El Progreso</option>
                        <option value="">Escuintla</option>
                        <option value="">Guatemala</option>
                        <option value="">Huehuetenango</option>
                        <option value="">Izabal</option>
                        <option value="">Jalapa</option>
                        <option value="">Jutiapa</option>
                        <option value="">Petén</option>
                        <option value="">Quetzaltenango</option>
                        <option value="">Quiché</option>
                        <option value="">Retalhuleu</option>
                        <option value="">Sacatepéquez</option>
                        <option value="">San Marcos</option>
                        <option value="">Santa Rosa</option>
                        <option value="">Sololá</option>
                        <option value="">Suchitepéquez</option>
                        <option value="">Totonicapán</option>
                        <option value="">Zacapa</option>
                    </select>
                </div> -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="client.invalid">
                        <span>Confirmar Pedido</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<ng-template #modalComprobador let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Comprobante de Existencias</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li *ngIf="cambiado" class="list-group-item d-flex justify-content-between align-items-center">
                <span class="float-left"><i class="fas fa-user-edit mr-2"></i>Datos del usuario actualizados</span>
                <!-- <i class="fas fa-user-edit"></i>  Dapibus ac facilisis in -->
                <!-- <span class="float-right text-danger mr-1"><i class="fas fa-times"></i></span> -->
                <span class="float-right text-success"><i class="fas fa-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let item of arregloComprobacion">
                <span class="float-left"><i class="fas fa-cart-plus mr-2"></i>
                    {{item.producto}} - Inventario
                    {{item.estado == '0' ? 'Ajustado ' : ''}}{{item.estado == '-1' ? 'Agotado ' : ''}}
                    ({{item.cantidadPedida}}/{{item.cantidadDisp}})
                </span>
                <span *ngIf="item.estado == 1" class="float-right text-success"><i class="fas fa-check"></i></span>
                <span *ngIf="item.estado == 0" class="float-right text-warning"><i
                        class="fas fa-exclamation-triangle"></i></span>
                <span *ngIf="item.estado == -1" class="float-right text-danger mr-1"><i class="fas fa-times"></i></span>
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="float-right text-primary"><i class="fas fa-check"></i></span>
            </li> -->
        </ul>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-danger btn-block" (click)="servicioModalAux.close()">
                    <span>Cancelar</span>
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-block" (click)="finalizarPedido()" [disabled] = "detalleAceptado > 0">
                    <span>Confirmar</span>
                </button>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-primary btn-block" (click)="modal.close('Close click')"> -->
            <!-- servicioModalAux.close() -->
        <!-- <button type="button" class="btn btn-primary btn-block" (click)="finalizarPedido()" [disabled] = "detalleAceptado > 0">
            <span>Finalizar Pedido</span>
        </button>
        <button type="button" class="btn btn-primary btn-block" (click)="finalizarPedido()" [disabled] = "detalleAceptado > 0">
            <span>Finalizar Pedido</span>
        </button> -->
    </div>
</ng-template>

<!-- PEDAZO PARA CODIGO PROMOCIONAL -->
<!-- <th _ngcontent-eyj-c107="" scope="col">CODIGO PROMOCIONAL: </th>
<p><input type="text" name="precio" /></p> -->

<!-- 
    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cras justo odio
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Dapibus ac facilisis in
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Morbi leo risus
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>
 -->

<!-- arregloComprobacion -->

<!-- 
     cantidadDisp: 15
​​
cantidadPedida: 1
​​
estado: 1
​​
idProducto: 19
  -->