<body>
  <div style="color:#56CC9D" id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="../../../assets/img/imghome/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../../assets/img/imghome/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/imghome/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <br>

  </div>


  <div class="row">

    <div class="col-6">
      <img src="../../../assets/img/imghome/2.jpg" class="d-block w-100" alt="...">
      <!-- <img src="../../../assets/img/imghome/2.jpg" class="img-fluid"> -->
    </div>

    <div class="col-6 bg-primary">

      <!-- <div class="container">
        <div class="row align-items-center">
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            One of three columns
          </div>
        </div>
      </div> -->

      <p style="margin-top: 15%; margin-left: 25%">
        <span class="align-middle" style="color:azure"><i class="fas fa-star"></i> Marcadores las 24 horas del día</span>
        <br><br>
        <span style="color:azure"><i class="fas fa-star"></i> Sin sustancias tóxicas</span>
        <br><br>
        <span style="color:azure"> <i class="fas fa-star"></i> Con estándares de calidad ISO 9001</span>
        <br><br>
        <span style="color:azure"> <i class="fas fa-star"></i> Pintura Resistente al paso del Tiempo</span>
        <br><br>
        <span style="color:azure"> <i class="fas fa-star"></i> Se lavan con awita fria</span>
      </p>
    </div>
  </div>

  <div style="color: #56CC9D">
    <br>
    <h1 class="text-center"><strong>
        Cómo hacer su pedido
      </strong>
    </h1>
    <br>

    <div class="row align-items-center">
      <br>
      <br>

      <div class="col-sm-4">


        <h1 style="color: #56CC9D">
          <p class="text-center"><i class="far fa-check-circle" style="width:80; height:80; text-align:center ;"> </i>
            <br>Paso 1</p>
        </h1>
        <p class="text-center">Seleccione su pedido añadiendo los marcadores que desea al carrito</p>
      </div>

      <div class="col-sm-4">


        <h1 style="color: #56CC9D">
          <p class="text-center"><i class="fas fa-tasks" style="width:80; height:80; text-align:center ;">
            </i>
            <br>Paso 2</p>
        </h1>
        <p class="text-center">Complete su información de envío. Puede hacer su pedido por un mínimo de Q100. El costo
          de envío es de Q20.00</p>
      </div>


      <div class="col-sm-4">
        <h1 style="color: #56CC9D">
          <p class="text-center"> <i class="fas fa-star" style="width:80; height:80;"> </i>
            <br>Paso 3</p>
        </h1>
        <p class="text-center">En un máximo de 48 horas le entregamos sus marcadores en la puerta de su casa.</p>
      </div>
    </div>
  </div>

  <div>
    <br>
    <h4 class="text-center">Disponibilidad de producto por mayor y menor a residencias, librerías o colegios.</h4>
    <p>&nbsp;</p>
  </div>

  <div style="background-color: #E3C508">
    <br>
    <h1><strong><span style="color: #ffffff;">¡Ofertas Especiales!</span></strong></h1>
    <p>&nbsp;</p>

    <p><strong style="font-size: 1.66667rem; color: #ffffff;">
        -5 % de descuento en marcadores Sharpie
      </strong>
      <strong style="color: #ffffff; font-size: 1.66667rem;">
        <br>
        <br>
      </strong>
      <b style="font-style: inherit; color: #ffffff; font-size: 25px;">
        -Precios especiales por semana en todo el catalogo ¡Cuarentena de Locura!</b>
      <strong style="color: #ffffff; font-size: 1.66667rem;">
        <br>
      </strong>
    </p>
    <p>&nbsp;</p>
  </div>



  <div class="text-center" style="background-color:#0ad8cef1">
    <div align-items-center class="row">
      <div class="col-sm-5">
        <br>
        <br>
        <h2>
          <p style="color: #ffffff;">
            <strong>
              Días de entrega:
            </strong>
          </p>
        </h2>
        <h4>
          <p style="color: #ffffff;">
            <strong>Lunes, Miércoles y Viernes.
            </strong>
          </p>
        </h4>
        <h2>
          <p style="color: #ffffff;">
            <strong>
              Zonas de entrega:
            </strong>
          </p>
        </h2>
        <h5>
          <p style="color: #ffffff; text-align:center ">
            Ciudad Capital: Zona 7, 9, 10, 11, 14, 15 y 16.
          </p>
        </h5>
        <h2>
          <p class="text-center" style="color: #ffffff;">
            <strong>¿Forma de pago?
            </strong>
          </p>
        </h2>
        <h2>
          <strong class="text-center" style="color: #ffffff; font-size: 20px;">
            -En efectivo contra entrega del producto.
          </strong>
        </h2>
        <h2>
          <strong class="text-center" style="color: #ffffff; font-size: 20px;">
            -Por medio de depósito bancario.
          </strong>
        </h2>
      </div>

      <div align-items-center class="col-sm-7">
        <img src="../../../assets/img/imghome/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

  </div>
  <br>
  <br>

  <div style="background-color:#56CC9D">
    <div align-items-center class="row">
      <div align-items-center class="col-sm-6">
        <img src="../../../assets/img/imghome/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div align-items-center class="col-sm-6">

        <br>


        <h1 style="color:azure" class="text-center"> Contáctenos:</h1>
        <br><br>
        <h3 style="color:azure" class="text-center">Correo: coloridosgt@gmail.com</h3>
        <br>
        <h3 style="color:azure" class="text-center">Teléfono: 2486-1578</h3>
        <br>
        <h3 style="color:azure" class="text-center">Facebook: coloridosgt</h3>
        <br>
        <h3 style="color:azure" class="text-center">Instagram: coloridosgt</h3>

      </div>

    </div>

  </div>

</body>