<div class="text-center" style="font-size: 28px;">
    Historial de Pedidos
</div>

<div class="row" style="padding-top: 3%;">
    <table class="table table-hover table-sm table-responsive-sm">
        <thead class="table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Direccion</th>
                <th scope="col">T.Pedido</th>
                <th scope="col">No. Productos</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let pedido of listaPedidos; let i=index">
            <tr>
                <!-- <th scope="row"> {{ i+1 }} </th> -->
                <td> {{ pedido.idpedido }} </td>
                <td> {{ pedido.fecha }} </td>
                <td> {{ pedido.direccion }} </td>
                <td> {{ pedido.tipo }} </td>
                <td> {{ pedido.items }} </td>
                <td> {{ pedido.total | number: '1.2-2' }} </td>
                <td> {{ pedido.idestado_pedido }} </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm pr-2 pl-2" placement="top"
                        ngbTooltip="Ver Detalle Pedido"><i class="fas fa-clipboard-list"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>