<div class="text-center" style="font-size: 28px;">
    Historial de Pedidos
</div>

<div class="row mt-2">
    <div class="col-md-8">
        <ngb-pagination class="bg-info" [collectionSize]="listaPedidos.length" [(page)]="page" [maxSize]="10"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>

<div class="row mt-3">
    <table class="table table-hover table-sm table-responsive-sm">
        <thead class="table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Direccion</th>
                <th scope="col">T.Pedido</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let pedido of listaPedidos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <tr>
                <!-- <th scope="row"> {{ i+1 }} </th> -->
                <td> {{ pedido.idpedido }} </td>
                <td> {{ pedido.fecha }} </td>
                <td> {{ pedido.direccion }} </td>
                <td> {{ pedido.tipo }} </td>
                <td> {{ pedido.items }} </td>
                <td> Q.{{ pedido.total | number: '1.2-2' }} </td>
                <td>
                    <div class="btn btn-sm"
                        [ngClass]="{'btn-info': pedido.idestado_pedido == 1, 'btn-warning': pedido.idestado_pedido == 2, 'btn-success': pedido.idestado_pedido == 3, 'btn-secondary': pedido.idestado_pedido == 4}">
                        <span>{{ pedido.estado }}</span>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm pr-2 pl-2" placement="top"
                        (click)="verDetalle(pedido.idpedido)" ngbTooltip="Ver Detalle Pedido">
                        <i class="fas fa-clipboard-list"></i>
                    </button>
                    <button *ngIf="pedido.idestado_pedido < 2 || idTipo == 2" type="button"
                        class="btn btn-info btn-sm ml-1 pr-2 pl-2" placement="top"
                        (click)="abrirModalComprobante(modalComprobante,pedido.idpedido)"
                        ngbTooltip="Adjuntar Comprobante">
                        <i class="far fa-file-image"></i>
                    </button>
                    <button *ngIf="pedido.idestado_pedido < 2 || idTipo == 2" type="button"
                        class="btn btn-info btn-sm ml-1 pr-2 pl-2" placement="top"
                        (click)="abrirModalImagen(modalImagen,2)" ngbTooltip="Ver Comprobante">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para comprobante -->
<ng-template #modalComprobante let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Comprobante de Envio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Eliga su imagen</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" lang="es" accept="image/*"
                            (change)="handleFileInput($event.target.files)">
                        <label class="custom-file-label" name="titulo"> {{nombreArchivo}} </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" (click)="agregarCarrito()"
                [disabled]="cantidadAux > cantidadProducto">
                <span>Actualizar Imagen</span>
            </button>
        </form>
    </div>
</ng-template>

<!-- Modal para vista previa de imagen -->
<ng-template #modalImagen let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Imagen de Producto #{{idObjetoAux}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <img [src]='this.urlAUX' class="rounded mx-auto d-block" width="300" height="300"> -->
        <img [src]='' class="rounded mx-auto d-block" width="300" height="300">
    </div>
</ng-template>