<div class="row" style="padding-top: 5%;">
    <!-- Formulario para Crear o Editar -->
    <div class="col-md-4 offset-md-1 d-none d-md-block d-lg-block d-xl-block">
        <img src="../../../assets/svgs/shop.svg" class="img-fluid" style="width: 100%; height: auto; margin-top: 1%;">
    </div>

    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="col-md-4 ">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title text-center bg-secondary text-white p-2">
                    Inicio de Sesion
                </h4> -->
                <h4 class="card-title text-center pt-2">
                    Inicio de Sesion
                </h4>
                <form>
                    <div class="form-group">
                        <label>Correo</label>
                        <!-- <input type="text" name="title" [(ngModel)]="game.title" placeholder="Titulo" class="form-control" autofocus> -->
                        <input class="form-control" type="email" name="correo" placeholder="Ingrese su correo"
                            autofocus>
                    </div>
                    <!-- <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" name="description" rows="2" placeholder="Descripcion" class="form-control"></textarea>
                    </div> -->
                    <div class="form-group">
                        <label>Contraseña</label>
                        <!-- <input type="url" name="image" placeholder="Imagen" [(ngModel)]="game.image" class="form-control"> -->
                        <input class="form-control" type="password" name="password" placeholder="Ingrese su contraseña"
                            autofocus>
                    </div>
                    <!-- <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">Save</button> -->

                    <div class="card-subtitle mb-2 text-center p-4">¿No tienes cuenta? <a href="" class="text-secondary">Pulsa aca</a></div>

                    <button class="btn btn-secondary btn-block" style="padding-bottom: 0%;">
                        <label>Registrar</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>