<div class="row align-items-center" style="padding-top: 5%;">
    <!-- Formulario para Crear o Editar -->
    <div class="col-md-4 offset-md-1 d-none d-md-block d-lg-block d-xl-block">
        <img src="../../../assets/svgs/shop.svg" class="img-fluid" style="width: 100%; height: auto; margin-top: 1%;">
    </div>

    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="col-md-4 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center pt-2">
                    Inicio de Sesion
                </h4>
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" formControlName="email" placeholder="Ingrese su correo"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Correo requerido
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password"
                            placeholder="Ingrese su contraseña" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                            Contraseña requerida
                        </span>
                    </div>

                    <button class="btn btn-secondary btn-block" [disabled]="user.invalid">
                        <label>Ingresar</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>