form label {
    font-size: 14px;
}

form input {
    font-size: 15px;
}

button {
    padding-bottom: 0%;
}

button span {
    margin-bottom: 1%;
}
/* .footer {
    background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
} */