<form class="form-inline justify-content-center">
   <div class="form-group hidden">
      <div class="input-group">
         <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
            [startDate]="fromDate!">
         <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
               [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
               (mouseleave)="hoveredDate = null">
               {{ date.day }}
            </span>
         </ng-template>
      </div>
   </div>
   <div class="form-group">
      <div class="input-group">
         <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
            [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
               <i class="far fa-calendar-alt"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="form-group ml-2">
      <div class="input-group">
         <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
               <i class="far fa-calendar-alt"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="form-group ml-2">
      <div class="input-group">
         <label>Ingresos</label>
         <input  class="form-control ml-2" placeholder="yyyy-mm-dd" name="dpToDate"
            value="Hola">
      </div>
   </div>
</form>

<hr>


<div class="row mt-1 justify-content-centers">
   <div class="col-md-6">
      <div class="text-center" style="font-size: 28px;">
         Control de Ingresos
      </div>

      <table class="table table-hover mt-3">
         <thead class="table-secondary">
            <tr>
               <th scope="col">Descripcion</th>
               <th scope="col">Fecha</th>
               <th scope="col">Hora</th>
               <th scope="col">IP</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>213132</td>
               <td>213132</td>
               <td>213132</td>
               <td>213132</td>
            </tr>
         </tbody>
         <!-- <tbody *ngFor="let bitacora of listaBitacora | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
               <tr>
                  <td> {{ bitacora.descripcion }} </td>
                  <td> {{ bitacora.fecha }} </td>
                  <td> {{ bitacora.hora }} </td>
                  <td> {{ bitacora.ip }} </td>
               </tr>
            </tbody> -->
      </table>
   </div>

   <div class="col-md-6">
      <div class="text-center" style="font-size: 28px;">
         Control de Gastos
      </div>

      <!-- <table class="table table-hover table-responsive-sm mt-3"> -->
      <table class="table table-hover mt-3">
         <thead class="table-secondary">
            <tr>
               <th scope="col">Descripcion</th>
               <th scope="col">Fecha</th>
               <th scope="col">Hora</th>
               <th scope="col">IP</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>213132</td>
               <td>213132</td>
               <td>213132</td>
               <td>213132</td>
            </tr>
         </tbody>
         <!-- <tbody *ngFor="let bitacora of listaBitacora | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
               <tr>
                  <td> {{ bitacora.descripcion }} </td>
                  <td> {{ bitacora.fecha }} </td>
                  <td> {{ bitacora.hora }} </td>
                  <td> {{ bitacora.ip }} </td>
               </tr>
            </tbody> -->
      </table>
   </div>
</div>