<form class="form-inline">
   <div class="form-group hidden">
      <div class="input-group">
         <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
            [startDate]="fromDate!">
         <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
               [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
               (mouseleave)="hoveredDate = null">
               {{ date.day }}
            </span>
         </ng-template>
      </div>
   </div>
   <div class="form-group">
      <div class="input-group">
         <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
            [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
               <i class="far fa-calendar-alt"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="form-group ml-2">
      <div class="input-group">
         <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
               <i class="far fa-calendar-alt"></i>
            </button>
         </div>
      </div>
   </div>
</form>

<hr>
<!-- 
<pre>From date model: {{ fromDate | json }}</pre>
<pre>To date model: {{ toDate | json }}</pre> -->

<div class="row mt-1" *ngIf="!show">
   <div class="col-md-4">
      <div class="row">
         <div class="text-center">
            Tabla de Ingresos
         </div>
      </div>
      <div class="row mt-1">
         <table class="table table-hover table-responsive-sm">
            <thead class="table-secondary">
               <tr>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">IP</th>
               </tr>
            </thead>
            <!-- <tbody *ngFor="let bitacora of listaBitacora | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
               <tr>
                  <td> {{ bitacora.descripcion }} </td>
                  <td> {{ bitacora.fecha }} </td>
                  <td> {{ bitacora.hora }} </td>
                  <td> {{ bitacora.ip }} </td>
               </tr>
            </tbody> -->
         </table>
      </div>
   </div>

   <div class="col-md-2">

   </div>

   <div class="col-md-4">
      <div class="row">
         <div class="text-center">
            Tabla de Ingresos
         </div>
      </div>

      <div class="row mt-1">
         <table class="table table-hover table-responsive-sm">
            <thead class="table-secondary">
               <tr>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">IP</th>
               </tr>
            </thead>
            <!-- <tbody *ngFor="let bitacora of listaBitacora | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
               <tr>
                  <td> {{ bitacora.descripcion }} </td>
                  <td> {{ bitacora.fecha }} </td>
                  <td> {{ bitacora.hora }} </td>
                  <td> {{ bitacora.ip }} </td>
               </tr>
            </tbody> -->
         </table>
      </div>

   </div>

</div>