<div class="text-center">
<h2>Mantenimiento Cliente</h2>
</div>
<div class="row align-items-center" style="padding-top: 5%;">
    <div class="col-md-4 offset-md-1 d-none d-md-block d-lg-block d-xl-block">
        <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <table class="table table-hover table-active">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">DPI</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
</div>