:host{
   display: block;
}

.container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(white, .5);
   
}

.loader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 100px;
   height: 100px;
   background-image: url(^assets/spinner-verde.gif);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

ngb-pagination ::ng-deep .page-link {
   background: white;
   border-color: #d3d8dd;
   color: #958d89

}

ngb-pagination ::ng-deep .page-link .page-link:disabled{
   background-color: yellow;
}

ngb-pagination /deep/ .page-item.disabled .page-link {
   background-color: #cce8e0;
   border-color: #cce8e0;
}
 
ngb-pagination ::ng-deep .page-item.active .page-link {
   border-color: #78c2ad;
   background-color: #78c2ad;
   color: white;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus {
   box-shadow: 0 0 1px #629e8d;
}