<div class="row">
    <div class="col-md-3 pb-4">
        <div class="card text-center">
            <img src="http://hp-api.herokuapp.com/images/mcgonagall.jpg" height="200">
            <div class="card-body">
                <h4 class="card-title">Marcadores Crayola</h4>
                <p class="card-text">Caja de 12 unidades de marcadores marca crayola</p>
            </div>
            <div class="card-footer navbar-dark">
                <div class="row">
                    <div class="col text-danger">
                        <del>
                            Q. 20.00
                        </del>
                    </div>
                    <div class="col text-primary">
                        Q. 12.50
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 pb-4">
        <div class="card text-center">
            <img src="http://hp-api.herokuapp.com/images/mcgonagall.jpg" height="200">
            <div class="card-body">
                <h4 class="card-title">Marcadores Crayola</h4>
                <p class="card-text">Caja de 12 unidades de marcadores marca crayola</p>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col">
                        Q. 12.50
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>