<div class="row align-items-center" style="padding-top: 1%;">
    <!-- Formulario para Crear o Editar -->
    <div class="col-md-4 offset-md-1 center-block d-none d-md-block d-lg-block d-xl-block">
        <!-- <img src="../../../assets/svgs/registro.svg" class="img-fluid" style="width: 100%; height: auto; margin-top: 1%;"> -->
        <img src="../../../assets/svgs/registro.svg" class="img-fluid">
    </div>

    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="col-md-4 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center pt-2">
                    Creacion de Cuenta
                </h4>

                <!-- <div *ngIf="this.respuesta.Id == -1" class="alert alert-secondary alert-dismissible fade show text-center" role="alert" style="padding-bottom: 0;">
                    <p style="padding: 0; font-size: 12px;"> Credenciales Existentes</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->

                <div *ngIf="this.respuesta.Id == -1" class="alert alert-secondary fade show text-center" role="alert"
                    style="font-size: 12px;" data-dismiss="alert">
                    ¡Usuario existente!
                </div>

                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" formControlName="email" placeholder="Ingrese su correo"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Correo requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('email') && user.get('email').touched">
                            Correo invalido
                        </span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nombres</label>
                            <input class="form-control" type="text" formControlName="name" placeholder="Sus nombres"
                                autofocus>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                Nombre requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('name').hasError('pattern') && user.get('name').touched">
                                Nombre invalido
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Apellidos</label>
                            <input class="form-control" type="text" formControlName="lastname"
                                placeholder="Sus apellidos" autofocus>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('lastname').hasError('required') && user.get('lastname').touched">
                                Apellido requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('lastname').hasError('pattern') && user.get('lastname').touched">
                                Apellido invalido
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Telefono</label>
                            <input class="form-control" type="text" formControlName="telefono" placeholder="Su telefono"
                                autofocus>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('telefono').hasError('required') && user.get('telefono').touched">
                                Telefono requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('telefono').hasError('pattern') && user.get('telefono').touched">
                                Telefono invalido
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nit</label>
                            <input class="form-control" type="text" formControlName="nit" placeholder="Su nit"
                                autofocus>
                            <span class="text-danger" style="font-size: 10px;"
                                *ngIf="user.get('nit').hasError('required') && user.get('nit').touched">
                                Nit requerido
                            </span>
                            <span class="text-danger" style="font-size: 10px;" *ngIf="user.errors?.nitInvalido">
                                Nit invalido
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>DPI</label>
                        <input class="form-control" type="text" formControlName="dpi" placeholder="Ingrese su dpi"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('dpi').hasError('required') && user.get('dpi').touched">
                            DPI requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('dpi').hasError('pattern') && user.get('dpi').touched">
                            DPI invalido
                        </span>
                    </div>

                    <!-- <div class="form-group">
                        <label>Nombres</label>
                        <input class="form-control" type="text" formControlName="name" placeholder="Ingrese su nombre"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                            Nombre requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control" type="text" formControlName="lastname"
                            placeholder="Ingrese su apellido" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('lastname').hasError('required') && user.get('lastname').touched">
                            Apellido requerido
                        </span>
                    </div> -->
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password"
                            placeholder="Ingrese su contraseña" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                            Contraseña requerida
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input class="form-control" type="password" formControlName="confirmpass"
                            placeholder="Confirme su contraseña" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('confirmpass').hasError('required') && user.get('confirmpass').touched">
                            Contraseña requerida
                        </span>
                        <span class="text-danger" style="font-size: 10px;" *ngIf="user.errors?.invalid">
                            Contraseña sin coincidir
                        </span>
                    </div>
                    <div class="card-subtitle mb-2 text-center p-4">¿Tienes cuenta? <a routerLink="/singin"
                            class="text-primary ">Pulsa aca</a></div>

                    <button class="btn btn-primary btn-block" [disabled]="user.invalid || this.comprobador"
                        style="padding-bottom: 0%;">
                        <span *ngIf="this.comprobador" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        <label *ngIf="!this.comprobador">Registrar</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>