<div class="row align-items-center" style="padding-top: 1%;">
    <!-- Formulario para Crear o Editar -->
    <div class="col-md-4 offset-md-1 center-block d-none d-md-block d-lg-block d-xl-block">
        <!-- <img src="../../../assets/svgs/registro.svg" class="img-fluid" style="width: 100%; height: auto; margin-top: 1%;"> -->
        <img src="../../../assets/svgs/registro.svg" class="img-fluid">
    </div>

    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>

    <div class="col-md-4 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center pt-2">
                    Creacion de Cuenta
                </h4>
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" formControlName="email" placeholder="Ingrese su correo"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Correo requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('email') && user.get('email').touched">
                            Correo invalido
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Nombres</label>
                        <input class="form-control" type="text" formControlName="name" placeholder="Ingrese su correo"
                            autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                            Nombre requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control" type="text" formControlName="lastname"
                            placeholder="Ingrese su correo" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('lastname').hasError('required') && user.get('lastname').touched">
                            Apellido requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password"
                            placeholder="Ingrese su contraseña" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                            Contraseña requerida
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input class="form-control" type="password" formControlName="confirmpass"
                            placeholder="Confirme su contraseña" autofocus>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('confirmpass').hasError('required') && user.get('confirmpass').touched">
                            Contraseña requerida
                        </span>
                        <span class="text-danger" style="font-size: 10px;" *ngIf="user.errors?.invalid">
                            Contraseña sin coincidir
                        </span>
                    </div>

                    <div class="card-subtitle mb-2 text-center p-4">¿Tienes cuenta? <a routerLink="/singin"
                            class="text-primary ">Pulsa aca</a></div>

                    <button class="btn btn-primary btn-block" [disabled]="user.invalid" style="padding-bottom: 0%;">
                        <label>Registrar</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>