<!-- <p>Estoy en mi dashboard! - {{this.ID}}</p> -->
<div class="row aling">
   <div class="col-md-4">
      <div class="card mb-3">
         <div class="card-header">Datos del Usuario</div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <i class="fas fa-user float-left mr-2 mt-1"></i>
               Nombre
            </li>
            <li class="list-group-item">
               <i class="fas fa-user-circle mr-2 mt-1"></i>
               Cras justo odio
            </li>
            <li class="list-group-item">
               <i class="fas fa-address-card float-left mr-2 mt-1"></i>
               Cras justo odio
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-4"> 
      <div class="card text-white bg-primary mb-3">
         <div class="card-header">Ultima Actividad</div>
         <div class="card-body">
            <h4 class="card-text">
               <i class="far fa-calendar-alt float-left mr-2"></i>
               1231231
            </h4>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card text-white bg-secondary">
         <div class="card-header">Pedidos</div>
         <div class="card-body">
            <h4 class="card-text">
               <i class="fas fa-clipboard-list mr-2"></i>
               12
            </h4>
            <h4 class="card-text">
               <i class="fas fa-file-invoice-dollar mr-2"></i>
               Q. 12.50
            </h4>
         </div>
      </div>
   </div>
</div>



<!-- <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
   <div class="card-header">Header</div>
   <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
         content.</p>
   </div>
</div> -->