.contenedor {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

@media (max-width: 575.98px) {
    .contenedor{
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
}

@media (max-width: 767.98px) {
    .contenedor{
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
}

@media (max-width: 991.98px) {
    .contenedor{
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
}

@media (max-width: 1199.98px) {
    .contenedor{
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }
}