:host{
   display: block;
}

.container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(white, .5);
   
}

.loader {
   position: fixed;
   top: 10;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 100px;
   height: 100px;
   background-image: url(^assets/spinner-verde.gif);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}