<div class="text-center" style="font-size: 28px;">
    Mantenimiento Pedidos
</div>

<!-- <div class="row align-items-center" style="padding-top: 3%;"> -->
<div class="row justify-content-center" style="padding-top: 3%;">
    <div class="col-md-8 text-center">
        <div class="row">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" #filtro
                            placeholder="Cliente o direccion de pedido a buscar" placement="top"
                            ngbTooltip="Filtro de Productos">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                style="padding-top: 7%; padding-bottom: 0%;">
                                <label><i class="fas fa-search"></i></label>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <table class="table table-hover table-striped table-sm table-responsive-sm">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Dirección</th>
                        <!-- <th scope="col">Empleado</th> -->
                        <th scope="col">T.Pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let pedido of listaPedidos | filtroPedidos:filtro.value">
                    <tr>
                        <!-- <td>Carl</td>
                    <td>Zona 12</td>
                    <td>Envio</td>
                    <td>24/07/2020</td>
                    <td>Q150.00</td>
                    <td>1</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm"
                            (click)="openScrollableContent(longContent,1)"
                            style="padding-left: 15%; padding-right: 15%;"><i class="fas fa-map-pin fa-sm"></i></button>
                        <button type="button" class="btn btn-info btn-sm"
                            (click)="openScrollableContent(longContent,1)" style="margin-left: 2%;"><i class="far fa-image"></i></button>
                    </td> -->
                        <td> {{pedido.idpedido}} </td>
                        <td> {{pedido.cliente}} </td>
                        <td> {{pedido.direccion}} </td>
                        <td> {{pedido.tipo}} </td>
                        <td> {{pedido.fecha}} </td>
                        <td> Q.{{pedido.total | number:'1.2-2'}} </td>
                        <td> {{pedido.idTipo}}</td>
                        <!-- url_comprobante -->
                        <td>
                            <button type="button" class="btn btn-success btn-sm pr-2 pl-2"
                                (click)="abrirDetallePedido(longContent,pedido.idpedido)" placement="top"
                                ngbTooltip="Ver Detalle Pedido"><i class="fas fa-list-ol"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm pr-2 pl-2 ml-1"
                                (click)="enlazarPedido(pedido)" placement="top" ngbTooltip="Gestionar Pedido"><i
                                    class="far fa-eye"></i>
                            </button>
                            <button *ngIf="pedido.idTipo == 2" type="button" class="btn btn-info btn-sm pr-2 pl-2 ml-1"
                                (click)="abrirModalPedido(modalComprobante, pedido.idpedido, pedido.url_comprobante)"
                                placement="top" ngbTooltip="Ver Comprobante"><i class="far fa-sticky-note"></i>
                            </button>
                            <!-- <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-info btn-sm pr-2 pl-2" placement="top"
                                        ngbTooltip="Gestionar Pedido">
                                        <i class="far fa-eye"></i>
                                    </button>
                                    
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-info btn-sm pr-2 pl-2 ml-1"
                                        (click)="abrirDetallePedido(longContent,pedido.idpedido)" placement="top"
                                        ngbTooltip="Ver Detalle"><i class="fas fa-list-ol"></i>
                                    </button>
                                    
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-md-4">
                                    <button *ngIf="pedido.idTipo == 2" type="button"
                                        class="btn btn-info btn-sm pr-2 pl-2" placement="top"
                                        ngbTooltip="Ver Comprobante"><i class="far fa-image"></i>
                                    </button>
                                    
                                </div>
                            </div>
                        </div> -->
                        </td>
                        <!-- <i class="far fa-eye"></i> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div> -->
    <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">
        <div class="card">
            <!-- <div class="card-header d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-sm" (click)="openScrollableContent(longContent,1)">
                    <span>Nuevo Pedido</span>
                </button>
            </div> -->
            <div class="card-body">
                <form>
                    <h4 class="card-title text-center" style="padding-bottom: 1%;">
                        Gestion de Pedidos
                        <a class="text-secondary" placement="top" ngbTooltip="Actualizar Pedidos" (click)="obtenerListaPedidos()">
                            <i class="fas fa-sync-alt"></i></a>
                    </h4>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>ID</label>
                                <input class="form-control form-control-sm" type="text" name="id_pedido"
                                    [(ngModel)]="idPedido_AUX" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input class="form-control form-control-sm" type="text" name="fechaPedido"
                                    [(ngModel)]="fechaAUX" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Cliente</label>
                        <input class="form-control form-control-sm" type="text" name="nomCliente"
                            [(ngModel)]="nombreCliente" readonly>
                    </div>

                    <!-- <div class="form-group">
                        <label>Empleado</label>
                        <select class="form-control form-control-sm" name="Empleado" [(ngModel)]="idEmpleado" (change)="onChangeEmpleado($event.target.value)">
                            <option [value]="empleado.idusuario" *ngFor="let empleado of listaEmpleados">
                                {{empleado.nombrerol}}
                            </option>
                        </select>
                    </div> -->

                    <!-- <div class="form-group">
                        <label>Tipo De Pedido</label>
                        <select class="form-control form-control-sm">
                            <option [value]="tipo.idtipo_pedido" *ngFor="let tipo of listaTipos">
                                {{tipo.tipo}}
                            </option>
                        </select>
                    </div> -->

                    <div class="form-group">
                        <label>Dirección</label>
                        <input class="form-control form-control-sm" type="text" name="direccionPed"
                            [(ngModel)]="direccionPedido" readonly>
                    </div>

                    <!-- <div class="form-group">
                        <label>Total</label>
                        <input class="form-control form-control-sm" type="text">
                    </div> -->

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>No. Productos</label>
                                <input class="form-control form-control-sm" type="text" name="noProd"
                                    [(ngModel)]="numProductos" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Total</label>
                                <input class="form-control form-control-sm" type="text" name="totalPed"
                                    [(ngModel)]="totalPedido" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <div class="form-group">
                                <label>Tipo De Pedido</label>
                                <select class="form-control form-control-sm" name="tipoPedido"
                                    [(ngModel)]="idTipoPedido" (change)="onChangeTipo($event.target.value)">
                                    <option [value]="tipo.idtipo_pedido" *ngFor="let tipo of listaTipos">
                                        {{tipo.tipo}}
                                    </option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label>Empleado</label>
                                <select class="form-control form-control-sm" name="Empleado" [(ngModel)]="idEmpleado"
                                    (change)="onChangeEmpleado($event.target.value)">
                                    <option [value]="empleado.idusuario" *ngFor="let empleado of listaEmpleados">
                                        {{empleado.nombrerol}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="form-control form-control-sm" name="estadoPedido1"
                                    [(ngModel)]="idEstadoPedido" (change)="onChangeEstado($event.target.value)">
                                    <!-- formControlName="categoria"> -->
                                    <option [value]="estado.idestado_pedido" *ngFor="let estado of listaEstados">
                                        {{estado.estado}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- <button class="btn btn-secondary btn-block" disabled>
                        <span>Registrar</span>
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalle de Pedido -->
<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detalle de Pedido #{{idDetallePedidoAUX}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-striped table-sm table-responsive-sm">
            <thead class="table-secondary">
                <tr>
                    <!-- <th scope="col">Factura</th>
                    <th scope="col">Detalle</th> -->
                    <th scope="col">Linea</th>
                    <th scope="col">Producto</th>
                    <th scope="col">P.Unidad</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">SubTotal</th>
                </tr>
            </thead>
            <tbody *ngFor="let detalle of listaDetallePedido">
                <tr>
                    <!-- <th scope="row"> {{detalle.iddetalle_pedido}} </th> -->
                    <th scope="row"> {{detalle.linea}} </th>
                    <td> {{detalle.producto}} </td>
                    <td>Q.{{detalle.precio_unidad | number:'1.2-2'}}</td>
                    <td> {{detalle.cantidad}} </td>
                    <td>Q.{{detalle.subtotal | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">
            <span>Cerrar</span>
        </button>
    </div> -->
</ng-template>

<ng-template #modalComprobante let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Comprobante de Pedido #{{idPedidoAux}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img src='https://s3.amazonaws.com/coloridosgt/not.jpg' class="rounded mx-auto d-block" width="300"
            height="300">
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">
            <span>Cerrar</span>
        </button>
    </div> -->
</ng-template>