<div class="text-center" style="font-size: 28px;">
   Vet Detalle Pedido #{{idPedido}}
</div>

<div class="row" style="padding-top: 3%;">
   <table class="table table-hover table-sm table-responsive-sm">
      <thead class="table-primary">
         <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio Unidad</th>
            <th scope="col">Descuento</th>
            <th scope="col">Total</th>
         </tr>
      </thead>
      <tbody *ngFor="let detalle of listaDetalle; let i=index">
         <tr>
            <!-- <th scope="row"> {{ detalle.linea }} </th> -->
            <th> {{ detalle.linea }} </th>
            <th> {{ detalle.idproducto }} </th>
            
            <td> {{ detalle.cantidad }} </td>
            <td> {{ detalle.descripcion }} </td>
            <td> Q.{{ detalle.precio_unidad | number: '1.2-2' }} </td>
            <td> Q.{{ detalle.descuento | number: '1.2-2' }} </td>
            <td> Q.{{ detalle.subtotal | number: '1.2-2'}} </td>
         </tr>
      </tbody>
   </table>
</div>