<div class="container" *ngIf="show">
    <div class="loader"></div>
</div>

<div class="text-center" style="font-size: 28px;" *ngIf="!show">
    Mantenimiento Usuarios <a class="text-secondary" placement="top" ngbTooltip="Actualizar Usuarios"
    (click)="obtenerListaClientes()">
    <i class="fas fa-sync-alt"></i></a>
</div>

<div class="row justify-content-center" style="padding-top: 3%;" *ngIf="!show">
    <div class="col-md-6">
        <div class="row">
            <!-- <form>
                <div class="form-group">
                    <input type="text" class="form-control" #filtro
                        placeholder="Usuario o correo a buscar">
                </div>
            </form> -->
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" #filtro placeholder="Usuario o correo a buscar"
                                placement="top" ngbTooltip="Filtro de Usuarios">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    style="padding-top: 7%; padding-bottom: 0%;">
                                    <label><i class="fas fa-search"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <ngb-pagination [collectionSize]="listaClientes.length" [(page)]="page" [maxSize]="10" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>

        <div class="row">
            <table class="table table-hover table-striped table-sm table-responsive-md">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody
                    *ngFor="let user of listaClientes | filtroUsuario:filtro.value | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <tr>
                        <th scope="row"> {{user.idusuario}} </th>
                        <td>{{user.nombrerol}}</td>
                        <td>{{user.correo}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm pb-1" (click)="bitacora(user.idusuario)"
                                placement="top" ngbTooltip="Ver Bitacora"><i class="fas fa-stream"></i></button>

                            <button *ngIf="user.idusuario != 1 || idUsuario == 1" type="button"
                                class="btn btn-success btn-sm ml-1 pb-1"
                                (click)="abrirModalPermisos(modalPermisos,user.idusuario,user.inventario,user.ventas,user.bitacora_y_usuario,user.finanzas)"
                                placement="top" ngbTooltip="Gestionar Permisos"><i
                                    class="fas fa-user-lock"></i></button>

                            <button *ngIf="user.idusuario != 1 || idUsuario == 1" type="button"
                                class="btn btn-info btn-sm ml-1 pb-1" (click)="editado(user.idusuario,user)"
                                placement="top" ngbTooltip="Editar Usuario"><i
                                    class="fas fa-pencil-alt fa-sm"></i></button>

                            <button *ngIf="user.idusuario != 1 || idUsuario == 1" type="button"
                                class="btn btn-info btn-sm ml-1 pb-1" (click)="abrirModalPass(modalPass,user.idusuario)"
                                placement="top" ngbTooltip="Actualizar Contraseña"><i class="fas fa-key"></i></button>

                            <button *ngIf="user.idusuario != 1 && idUsuario != user.idusuario" type="button"
                                class="btn btn-danger btn-sm ml-1 pb-1" (click)="eliminado(user.idusuario,user)"
                                placement="top" ngbTooltip="Eliminar Usuario"><i
                                    class="fas fa-trash fa-sm"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>
    <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">

        <div class="card">
            <div class="card-header d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-sm" (click)="creado()">
                    <span>Nuevo Usuario</span>
                </button>
            </div>

            <div class="card-body">
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                    <h4 class="card-title text-center" style="padding-bottom: 1%;">
                        Ingresar Usuario
                    </h4>

                    <div *ngIf="this.respuesta.Id == -1" class="alert alert-secondary fade show text-center"
                        role="alert" style="font-size: 12px;" data-dismiss="alert">
                        ¡Usuario existente!
                    </div>

                    <div *ngIf="this.update.EstadoUpdate == 'Error'" class="alert alert-secondary fade show text-center"
                        role="alert" style="font-size: 12px;" data-dismiss="alert">
                        No se realizo la actualizacion
                    </div>

                    <div class="form-group">
                        <label>Usuario</label>
                        <input class="form-control" type="text" formControlName="username" maxlength="15"
                            (focusin)="isUser = true" (focusout)="isUser = false">
                        <span class="bg-secondary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                            *ngIf="isUser">
                            Max: 15 caracteres
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('username').hasError('required') && user.get('username').touched">
                            Usuario requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('username').hasError('maxlength')">
                            Tamaño de caracteres invalido
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" formControlName="email" maxlength="60"
                            (focusin)="isEmail = true" (focusout)="isEmail = false">
                        <span class="bg-secondary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                            *ngIf="isEmail">
                            Max: 60 caracteres
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Correo requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('email') && user.get('email').touched">
                            Correo invalido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('maxlength')">
                            Tamaño de caracteres invalido
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password" [readonly]="!this.isNew">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                            Contraseña requerida
                        </span>
                    </div>

                    <div class="form-group" style="padding-bottom: 3%;">
                        <label>Confirmar Contraseña</label>
                        <input class="form-control" type="password" formControlName="confirmpass"
                            [readonly]="!this.isNew">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('confirmpass').hasError('required') && user.get('confirmpass').touched">
                            Contraseña requerida
                        </span>
                        <span class="text-danger" style="font-size: 10px;" *ngIf="user.errors?.invalid">
                            Contraseña sin coincidir
                        </span>
                    </div>

                    <button class="btn btn-secondary btn-block" [disabled]="user.invalid || this.comprobador">
                        <span *ngIf="this.comprobador" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        <label *ngIf="!this.comprobador && this.isNew" id="labelCarga">Registrar</label>
                        <label *ngIf="!this.comprobador && this.isEdit" id="labelCarga">Actualizar</label>
                        <label *ngIf="!this.comprobador && this.isDelete" id="labelCarga">Eliminar</label>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal para Permisos de Usuario -->
<ng-template #modalPermisos let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Permisos de Usuario #{{idObjetoAux}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="customCheck1" checked=""> -->
                <input type="checkbox" class="custom-control-input" id="moduloProductosCheck"
                    [(ngModel)]="moduloProductos">
                <label class="custom-control-label" for="moduloProductosCheck">Modulo Productos</label>
            </div>
            <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="customCheck2"> -->
                <input type="checkbox" class="custom-control-input" id="moduloPedidosCheck" [(ngModel)]="moduloPedidos">
                <label class="custom-control-label" for="moduloPedidosCheck">Modulo Pedidos</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="moduloUsuariosCheck"
                    [(ngModel)]="moduloUsuarios">
                <label class="custom-control-label" for="moduloUsuariosCheck">Modulo Usuarios</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="moduloFinanzasCheck"
                    [(ngModel)]="moduloFinanzas">
                <label class="custom-control-label" for="moduloFinanzasCheck">Modulo Finanzas</label>
            </div>
        </div>
        <button class="btn btn-secondary btn-block pb-0" (click)="actualizarPermisos()" [disabled]="this.comprobador2">
            <span *ngIf="this.comprobador2" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            <label *ngIf="!this.comprobador2" id="labelCarga">Actualizar</label>
        </button>
    </div>
</ng-template>

<!-- Modal para Actualizar Contraseña -->
<ng-template #modalPass let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Actualizacion de Contraseña - Usuario #{{idObjetoAux}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate (ngSubmit)="ejecutarActualizacionPass()" [formGroup]="passUpdate">
            <div class="form-group">
                <label>Contraseña Nueva</label>
                <input type="password" class="form-control" formControlName="password"
                    placeholder="Ingrese su contraseña nueva" maxlength="15" (focusin)="isPass = true"
                    (focusout)="isPass = false">
                <span class="bg-secondary text-white float-right pl-2 pr-2" style="font-size: 10px;" *ngIf="isPass">
                    Max: 15 caracteres
                </span>
                <span class="text-danger" style="font-size: 10px;"
                    *ngIf="passUpdate.get('password').hasError('required') && passUpdate.get('password').touched">
                    Contraseña requerida
                </span>
                <span class="text-danger" style="font-size: 10px;"
                    *ngIf="passUpdate.get('password').hasError('maxlength')">
                    Tamaño de caracteres invalido
                </span>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Confirmar Contraseña</label>
                <input type="password" class="form-control" formControlName="confirmpass"
                    placeholder="Confirme su contraseña nueva" maxlength="15" (focusin)="isConfirmPass = true"
                    (focusout)="isConfirmPass = false">
                <span class="bg-secondary text-white float-right pl-2 pr-2" style="font-size: 10px;"
                    *ngIf="isConfirmPass">
                    Max: 15 caracteres
                </span>
                <span class="text-danger" style="font-size: 10px;"
                    *ngIf="passUpdate.get('confirmpass').hasError('required') && passUpdate.get('confirmpass').touched">
                    Contraseña requerida
                </span>
                <span class="text-danger" style="font-size: 10px;" *ngIf="passUpdate.errors?.invalid">
                    Contraseña sin coincidir
                </span>
                <span class="text-danger" style="font-size: 10px;"
                    *ngIf="passUpdate.get('confirmpass').hasError('maxlength')">
                    Tamaño de caracteres invalido
                </span>
            </div>
            <button class="btn btn-secondary btn-block" [disabled]="passUpdate.invalid || this.comprobador2">
                <span *ngIf="this.comprobador2" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                <label *ngIf="!this.comprobador2" id="labelCarga">Actualizar</label>
            </button>
        </form>
        <!-- <button class="btn btn-secondary btn-block" style="padding-bottom: 1%;" [disabled]="passUpdate.invalid">
            <span>Actualizar Contraseña</span>
        </button> -->
    </div>
</ng-template>