/* .text-center{
    text-align: center;
} */

/* .tabla{
    width: 150px;
} */

form label {
   font-size: 14px;
}

form input {
   font-size: 15px;
}

button {
   padding-bottom: 0%;
}

td button {
   padding-bottom: 3%;
}

button span {
   margin-bottom: 1%;
}

.card-header button {
   padding-bottom: 1%;
   /* width: 30%; */
}

/* .card-header button span {
   padding-left: 3%;

} */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
   background-color: #f1959b!important;
}
 
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
   box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f1959b
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
   box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
   background-color: #eec9cb; 
}