<div class="text-center" style="font-size: 28px;">
    Mantenimiento Usuarios
</div>

<div class="row justify-content-center" style="padding-top: 3%;">
    <div class="col-md-6">
        <div class="row">
            <!-- <form>
                <div class="form-group">
                    <input type="text" class="form-control" #filtro
                        placeholder="Usuario o correo a buscar">
                </div>
            </form> -->

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" #filtro placeholder="Usuario o correo a buscar"
                            placement="top" ngbTooltip="Filtro de Usuarios">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                style="padding-top: 7%; padding-bottom: 0%;">
                                <label><i class="fas fa-search"></i></label>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <table class="table table-hover table-striped table-sm table-responsive-md">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of listaClientes | filtroUsuario:filtro.value">
                    <tr>
                        <th scope="row"> {{user.idusuario}} </th>
                        <td>{{user.nombrerol}}</td>
                        <td>{{user.correo}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" (click)="bitacora(user.idusuario)"
                                placement="top" ngbTooltip="Ver Bitacora"><i class="fas fa-stream"></i></button>

                            <button type="button" class="btn btn-success btn-sm" style="margin-left: 1%;"
                                (click)="abrirModalPermisos(modalPermisos,user.idusuario)" placement="top"
                                ngbTooltip="Gestionar Permisos"><i class="fas fa-user-lock"></i></button>

                            <button type="button" class="btn btn-info btn-sm" style="margin-left: 1%;"
                                (click)="editado(user.idusuario,user)" placement="top" ngbTooltip="Editar Usuario"><i
                                    class="fas fa-pencil-alt fa-sm"></i></button>

                            <button *ngIf="user.idusuario != 1"  type="button" class="btn btn-danger btn-sm" style="margin-left: 1%;"
                                (click)="eliminado(user.idusuario,user)" placement="top"
                                ngbTooltip="Eliminar Usuario"><i class="fas fa-trash fa-sm"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-1 d-none d-md-block d-lg-block d-xl-block"></div>
    <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">

        <div class="card">
            <div class="card-header d-flex justify-content-end">
                <button type="button" class="btn btn-secondary btn-sm" (click)="creado()">
                    <span>Nuevo Usuario</span>
                </button>
            </div>

            <div class="card-body">
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                    <h4 class="card-title text-center" style="padding-bottom: 1%;">
                        Ingresar Usuario
                    </h4>

                    <div *ngIf="this.respuesta.Id == -1" class="alert alert-secondary fade show text-center"
                        role="alert" style="font-size: 12px;" data-dismiss="alert">
                        ¡Usuario existente!
                    </div>

                    <div *ngIf="this.update.EstadoUpdate == 'Error'" class="alert alert-secondary fade show text-center"
                        role="alert" style="font-size: 12px;" data-dismiss="alert">
                        No se realizo la actualizacion
                    </div>

                    <div class="form-group">
                        <label>Usuario</label>
                        <input class="form-control" type="text" formControlName="username">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('username').hasError('required') && user.get('username').touched">
                            Usuario requerido
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" formControlName="email">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                            Correo requerido
                        </span>
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('email').hasError('email') && user.get('email').touched">
                            Correo invalido
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password" [readonly]="!this.isNew">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                            Contraseña requerida
                        </span>
                    </div>

                    <div class="form-group" style="padding-bottom: 3%;">
                        <label>Confirmar Contraseña</label>
                        <input class="form-control" type="password" formControlName="confirmpass"
                            [readonly]="!this.isNew">
                        <span class="text-danger" style="font-size: 10px;"
                            *ngIf="user.get('confirmpass').hasError('required') && user.get('confirmpass').touched">
                            Contraseña requerida
                        </span>
                        <span class="text-danger" style="font-size: 10px;" *ngIf="user.errors?.invalid">
                            Contraseña sin coincidir
                        </span>
                    </div>

                    <button class="btn btn-secondary btn-block" [disabled]="user.invalid || this.comprobador">
                        <span *ngIf="this.comprobador" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        <label *ngIf="!this.comprobador && this.isNew" id="labelCarga">Registrar</label>
                        <label *ngIf="!this.comprobador && this.isEdit" id="labelCarga">Actualizar</label>
                        <label *ngIf="!this.comprobador && this.isDelete" id="labelCarga">Eliminar</label>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal para Permisos de Usuario -->
<ng-template #modalPermisos let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Permisos de Usuario #{{idObjetoAux}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                <label class="custom-control-label" for="customCheck1">Modulo Productos</label>
            </div>
            <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="customCheck2" disabled=""> -->
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Modulo Pedidos</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Modulo Usuarios</label>
            </div>
        </div>
    </div>
</ng-template>