<div class="text-center" style="font-size: 28px;">
    Bitacora De Usuarios
</div>

<div class="row" style="padding-top: 3%;">
    <table class="table table-hover table-responsive-sm">
        <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">IP</th>
            </tr>
        </thead>
        <tbody *ngFor="let bitacora of listaBitacora; let i=index">
            <tr>
                <th scope="row"> {{ i+1 }} </th>
                <td> {{ bitacora.descripcion }} </td>
                <td> {{ bitacora.fecha }} </td>
                <td> {{ bitacora.hora }} </td>
                <td> {{ bitacora.ip }} </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- 
     "idbitacora": 1,
        "descripcion": "Inicio de Sesion",
        "fecha": "25/08/20",
        "hora": "8:22:54 PM",
        "ip": "18.206.205.16"
 -->