<div class="row">
  <div class="col about-section">
    <h1 class="text-white" style="size: 100px">
      <p>Sobre Nosotros</p>
    </h1>
    <h2 style="color: azure; size: 100px;">
      <strong>"Un Dibujo es simplemente una línea que va a dar un paseo"</strong>
    </h2>
    <h4 style="color: azure; size: 80px;"><em>Paul Klee</em></h4>
  </div>
</div>

<div class="col bg-primary pt-4 pb-3 text-center">
  <!-- <div class="bg-primary" style="background-color:#56CC9D" > -->
  <h2 class="text-white">
    <p>¿Quiénes somos?</p>
  </h2>
  <div class="container">
    <h3>
      <p>
        Somos un emprendimiento con el deseo de llevar colores para artistas, profesores, niños y
        toda aquella persona que desee los diferentes colores existentes, de una forma práctica y simple
        como lo son los marcadores, pero con la calidad y potencia que se necesitan para unos colores vivos y tonos
        preciosos.
      </p>
    </h3>
  </div>
</div>

<div style="background-color:#dfd10cd8">

  <br>
  <h2 style="text-align:center ;">Objetivos</h2>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="imagen.jpg" alt="" style="width:100%">
        <div class="container">
          <h2>¿Cuál es nuestra visión?</h2>
          <p class="title">Centralizar los marcadores</p>
          <p>Ser empresa lider en la venta y distribución de todo tipo de marcadores con la mejor calidad
            y frescura :v
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="imagen.jpg" alt="" style="width:100%">
        <div class="container">
          <h2>¿Cuál es nuestra misión?</h2>
          <p class="title">Proveer de Color</p>
          <p>Proveer de colores y las generaciones de Guatemala por medio de nuestros marcadores
            pensando en la comodidad y seguridad de nuestros clientes.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="imagen.jpg" alt="" style="width:100%">
        <div class="container">
          <h2>¿Qué buscamos?</h2>
          <p class="title">Creatividad</p>
          <p>Contribuir e impulsar la creatividad y expresión por medio del color
            minimizando recursos en el proceso de búsqueda de marcadores
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
</div>
<br>
<br>